body {
  background-color: #333;
  font-family: sans-serif;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
}

.card{
  position: relative;
  width: 290px;
  height: 190px;
  background-color: #fff;
  border-radius: 10px;
}

.card--blue{
  background-color: lightblue;
}

.card__title{
  font-size: 1rem;
  padding: 10px 0px 0px 10px;
}

.card__text{
  font-size: 0.6rem;
  width: 145px;
  padding-left: 10px;
}

.card__image{
  position: absolute;
  width: 110px;
  bottom: 0;
  right: 10px;
}

.card__image--big{
  width: 150px;
}

.social-icons{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.social-icons__item{
  display: inline-block;
}

.social-icons__icon{
  width: 25px;
}